<!DOCTYPE html>
<html lang="en">

<aside>
  <form action="/search" method="GET">
    <div>
      <label for="search-property-form__title">Title</label>
      <input type="search" name="title" placeholder="Title">
      <label for="search-property-form__minimum-price">Minimum Cost</label>
      <input type="search" name="minimum_price" placeholder="Minimum Cost">
      <label for="search-property-form__maximum-price">Maximum Cost</label>
      <input type="search" name="maximum_price" placeholder="Maximum Cost">
      <label for="search-property-form__condition">Condition</label>
      <input type="search" name="condition" placeholder="Condition">
    </div>
    <div>
      <button type=" submit">Search</button>
    </div>
  </form>
</aside>
