<!DOCTYPE html>
<html lang="en">

<aside>
  <form action="/" method="GET">
    <div>
      <label for="search-property-form__item-name">Item Name</label>
      <input type="search" name="minimum_price" placeholder="Item Name">
      <label for="search-property-form__minimum-price">Minimum Cost</label>
      <input type="search" name="minimum_price" placeholder="Minimum Cost">
      <label for="search-property-form__maximum-price">Maximum Cost</label>
      <input type="search" name="maximum_price" placeholder="Maximum Cost">
      <label for="search-property-form__minimum-rating">Condition</label>
      <input type="search" name="minimum_rating" placeholder="Minimum Rating" id="search-property-form__minimum-rating">
    </div>
    <div>
      <button type=" submit">Search</button>
    </div>
