<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/nav-bar') %>
    <%- include('partials/leftSearchBar.ejs') %>
      <main>
        <div>

          <% for(const listing of orderedListings) { %>
            <tr>
              <td>
                <%= listing %>
              </td>
            </tr>
            <% } %>
        </div>
      </main>
</body>

</html>
