body {
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .listing-title {
    text-align: center;
  }
  .sidebar {
    display:flex;
    flex-direction: column;
    width: 200px;
  }
  .listings{
    display:flex;
    .listing {
      width: 300px;
      text-align: center;
      .listing-image {
        height: 200px;
        width: 200px;
      }
      .title-text-div {

      }
      .listing-title {

      }
      &:nth-child(4) {
        margin-left: -900px;
        margin-top: 300px;
      }
      &:nth-child(5) {
        margin-top: 300px;
      }
      &:nth-child(6) {
        margin-top: 300px;
      }
    }
  }
}
